target/classes/hackathon.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5ba20061-ba78-4eac-ae56-f655f95144d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hackathonFlow" doc:id="187e36b3-39a4-4e15-9da3-7621f90b15d1" >
		<http:listener doc:name="Listener" doc:id="b02fa0b0-3afd-4f7b-9a74-d82671329fda" config-ref="HTTP_Listener_config" path="/hackhaton" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="3f91ed47-0ba4-42e3-af3e-82184554b547" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9f1eca9f-b23f-4e68-a64e-b64d773892a3" message="#[payload]"/>
	</flow>
</mule>
